@media (min-width: 1220px) {
  .swiper-slide {
    display: flex !important;
    flex-direction: row !important;
    width: 100% !important;
  }
}

@media (max-width: 1219px) {
  .swiper-slide {
    flex-direction: column !important;
  }
}
